:root {
  --img-moodeng: url("~/assets/img/moodeng.png");
}

.base {
  width: 128px;
  height: 128px;
}

.break,
.crouch:hover {
  background: var(--img-moodeng) 0 0;
}

.charge {
  background: var(--img-moodeng) 384px 0;
}

.float {
  background: var(--img-moodeng) 256px 0;
}

.stand {
  background: var(--img-moodeng) 128px 0;
}

.run {
  animation: aniRun 0.6s steps(4) infinite;
}

.dash {
  left: 100px;
  position: relative;
}

.dash:hover {
  animation-name: aniDash, aniMove, aniDash;
  animation-duration: 0.3s, 0.6s, 0.2s;
  animation-delay: 0s, 0.3s, 0.9s;
  animation-timing-function: steps(3), ease-in-out, steps(3);
  animation-direction: normal, normal, reverse;
  animation-fill-mode: forwards;
}

.flinch:hover {
  animation: aniFlinch 0.2s steps(2) 3;
}

.turn:hover {
  transform: scaleX(-1);
}

.jump-up,
.jump:hover {
  animation-name: aniJump, aniJump;
  animation-duration: 0.3s, 0.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: steps(1), steps(1);
  animation-direction: normal, reverse;
}


@keyframes aniRun {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -512px;
  }
}

@keyframes aniDash {
  0% {
    background-position-x: -128px;
  }

  100% {
    background-position-x: 256px;
  }
}

@keyframes aniMove {
  0% {
    left: 100px;
  }

  100% {
    left: 0px;
  }
}

@keyframes aniFlinch {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -256px;
  }
}

@keyframes aniJump {
  0% {
    background-position-x: 0;
  }

  50% {
    background-position-x: -256px;
  }

  100% {
    background-position-x: -384px;
  }
}

@keyframes aniTurn {
  100% {transform: scaleX(-1)}
}