.layer-sprite {
  position: relative;
  border: 1px solid #000;
  margin: 2px;
  width: fit-content;
}

.layer-collision {
  position: absolute;
  left: 21px;
  top: 32px;
  width: 80px;
  height: 60px;
  border: 1px solid #0f0;
  opacity: 0.5;
}
.layer-hitbox {
  position: absolute;
  left: 25px;
  top: 40px;
  width: 70px;
  height: 40px;
  border: 1px solid #f00;
  opacity: 0.5;
}

.layer-invisible {
    border: none
}