@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Tiny5&display=swap');

html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.thick {
  font-family: "DM Sans";
  font-weight: 900;
}

.tiny {
  font-family: "Tiny5", serif;
  font-weight: 400;
  font-style: normal;
}

.row {
  display: flex;
}

.col {
  flex: 50%;
}

#play-area {
  border: 1px solid #000;
  width: 800px;
  height: 400px;
  margin: 10px auto;
}

.sp li {
  list-style: none;
}

.mb-0 {
  margin-bottom: 0;
}

.collision {
  position: absolute;
  left: 21px;
  top: 32px;
  width: 80px;
  height: 60px;
  background: #0f0;
  opacity: 0.5;
}

.content {
  max-width: 1200px;
  margin: 60px auto;
}